@font-face {
    font-family: kaerukaeru;
    src: url("./kaerukaeru-regular.otf")
}

@font-face {
    font-family: sporting-grotesk;
    src: url("./sporting-grotesk.otf")
}

:root {

    --mono-hue: 50;
    --mono-saturation: 98%;


    --mono-base: hsl(var(--mono-hue), var(--mono-saturation), 60%);

    --base-background-color: var(--mono-base);
    --theme-color: black;

    --link-color: rgb(1, 181, 148);
    --link-color--hover: rgb(48, 48, 213);

    --sidebar-background: var(--mono-base);
    --sidebar-border-color: var(--theme-color);
    --sidebar-border-width: 5px;
    --sidebar-padding: 0 5px;

    --sidebar-nav-margin: 0rem 0 0;

    --sidebar-name-color: var(--mono-base);
    --sidebar-name-font-family                    : kaerukaeru;
    --sidebar-name-font-size                      : 4rem;
    --sidebar-name-font-weight                    : normal;
    --sidebar-name-margin                         : 1.5rem 0 0;
    --sidebar-name-padding                        : -0;
 

    --sidebar-toggle-icon-color: black;
    --sidebar-toggle-width: 50px;
    --sidebar-width: 20rem;

    --sidebar-toggle-icon-height: 25px;
    --sidebar-toggle-icon-stroke-width: 5px;
    --sidebar-toggle-icon-width: 36px;
    --sidebar-toggle-offset-top: calc(100vh - (var(--sidebar-toggle-height)));

}

/* Cover
============================================================================= */
:root {
    --cover-color: var(--mono-base);
    --cover-margin: 0 auto;
    --cover-max-width: 40em;
    --cover-text-align: center;

    /* Headings */
    --heading-h2-border-color           : black;
    --heading-h2-border-style           : solid;
    --heading-h2-border-width           : 1px;
    --heading-h2-padding                : 10px;
    --heading-h2-color                  : black;
    --heading-h2-font-family            : sporting-grotesk;
    --heading-h2-font-size              : var(--font-size-xl);
    --heading-h2-font-weight            : ;

    /* Background */
    --cover-background-blend-mode: ;
    --cover-background-color: var(--mono-base);
    --cover-background-image: ;
    --cover-background-mask-color: var(--base-background-color);
    --cover-background-mask-opacity: 0.8;
    --cover-background-mask-visibility: ;
    --cover-background-position: center center;
    --cover-background-repeat: no-repeat;
    --cover-background-size: cover;

    /* Blockquote (Subtitle) */
    --cover-blockquote-color: ;
    --cover-blockquote-font-size: var(--font-size-l);

    /* Border */
    --cover-border-inset: 0.5rem;
    --cover-border-color: var(--theme-color);
    --cover-border-width: 5px;

    /* Buttons */
    --cover-button-background: transparent;
    --cover-button-background--hover: black;
    --cover-button-border: 1px solid var(--theme-color);;
    --cover-button-border--hover: 1px solid black;
    --cover-button-border-radius: var(--border-radius-m);
    --cover-button-box-shadow: ;
    --cover-button-box-shadow--hover: ;
    --cover-button-color: black;
    --cover-button-color--hover: var(--mono-base);
    --cover-button-padding: 0.5em 2rem;
    --cover-button-text-decoration: none;
    --cover-button-text-decoration--hover: ;
    --cover-button-text-decoration-color: ;
    --cover-button-text-decoration-color--hover: ;
    --cover-button-transition: all var(--duration-fast) ease-in-out;

    /* Buttons - Primary */
    --cover-button-primary-background: transparent;
    --cover-button-primary-background--hover: var(--theme-color);
    --cover-button-primary-border: 1px solid var(--theme-color);
    --cover-button-primary-border--hover: ;
    --cover-button-primary-box-shadow: ;
    --cover-button-primary-box-shadow--hover: ;
    --cover-button-primary-color: var(--theme-color);
    --cover-button-primary-color--hover: ;
    --cover-button-primary-text-decoration: ;
    --cover-button-primary-text-decoration--hover: ;
    --cover-button-primary-text-decoration-color: ;
    --cover-button-primary-text-decoration-color--hover: ;

    /* Heading */
    --cover-heading-color: var(--theme-color);
    --cover-heading-font-size: var(--font-size-xxl);
    --cover-heading-font-size-min: ;
    --cover-heading-font-size-max: ;
    --cover-heading-font-weight: normal;

    /* Links */
    --cover-link-border-bottom: ;
    --cover-link-border-bottom--hover: ;
    --cover-link-color: ;
    --cover-link-color--hover: ;
    --cover-link-text-decoration: underline;
    --cover-link-text-decoration--hover: ;
    --cover-link-text-decoration-color: ;
    --cover-link-text-decoration-color--hover: ;
}

/* Plugin: Copy Code
============================================================================= */
:root {
    --copycode-background: var(--mono-tint2);
    --copycode-color: var(--mono-shade2);
}

/* Sidebar
============================================================================= */

.sidebar {
    right:99.3%;
    height: 99vh
}

.sidebar-toggle {
    left: 0.75rem;
    top: -0.1rem;
}

.sidebar .app-name {
    border-radius: 10px;
    background-color: black;
}



.marquee3k__copy {
    padding-right: 2px;
}